@font-face {
   font-family: ThisMyFontYeah;
   src: url(../Sov_Nophamas.ttf);
}
.logo{
    position: relative;
    height: 80px;
    transform: translateY(5);
    left: 0;
}
.myfont{
    font-family:ThisMyFontYeah;
}
.zoom {
    padding: 2.5px;
    transition: transform .2s;
/*    width: 200px;
    height: 600px;*/
/*    margin: auto;*/
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scaleX(1.5);

}
.item {
    width: 200px;
    float: left;
}
.item img {
    display: block;
    width: 100%;
}
.food{
    width: 350px;
    height: 350px;
    padding: 0px;
    /*margin: auto;*/
}
.textfood{
    font-size: 25px;
    /*position : ;*/
}
#img_list{
    height: 500px;
    width: 300px;
}
#texttravel{
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
}
#row_set{
    padding-top: 50px;
    padding-left: 20px;
}
.contact{
    font-size: 50px;
    margin: 30px;
}

.wrap-headline {
    position: relative;
    z-index: 96;
    float: left;
    width: 100%;
    height: 320px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.wrap-body {
    float: left;
    width: 100%;
}
.hero-title {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(0,0,0,0.8);
}
.hero-title .title {
    margin: 0px auto;
    text-align: center;
    font-family: 'Open Sans Condensed', 'open_sans_condensedbold', 'Myriad Pro', sans-serif;
    text-transform: uppercase;
    line-height: 1.000em;
    color: #ffffff;
    font-stretch: condensed;
}
#nav-button {
    width: 100px;
    color: #fff;
    background: none;
    font-family: ThisMyFontYeah;
    padding-top: 30px;
    font-size: 30px;
}
.navbar {
    min-height: 0;
    margin-bottom: 0;
    padding: 0;
}
@import "bourbon";

// variables - colors

$main-text: #2d313f; // main text
$link: #d36868; // anchor tags
$background: #e7eaf0; // body background color

$color-1: #2d313f; // blue
$color-2: #d36868; // red
$color-3: #ffffff; // white

// variables - fonts 

$primary-font: 'Lora', serif;

// rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// layout - breakpoints
  
$S:     320px;   
$M:     768px;     
$L:     1170px;         

// layout - media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

body {
	font: {
		size: 100%;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $main-text;
	background-color: $background;
}

/* -------------------------------- 

Main components 

-------------------------------- */

header {
	height: 200px;
	line-height: 200px;
	text-align: center;
	background: $color-1;

	h1 {
		color: $color-3;
		@include font-size(20px);
	}

	@include MQ(M) {
		height: 300px;
		line-height: 300px;
	}
}

#google-container {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: $background;

    @include MQ(M) {
    	height: 300px;
    }

    @include MQ(L) {
    	height: 600px;
    }
}

#cd-google-map {
	position: relative;

	address {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		padding: 1em 1em;
		background-color: rgba($color-2, .9);
		color: $color-3;
		@include font-size(13px);

		@include MQ(M) {
			@include font-size(15px);
			text-align: center;
		}
	}
}

#cd-zoom-in, #cd-zoom-out {
	height: 32px;
	width: 32px;
	cursor: pointer;
	margin-left: 10px;
	background-color: rgba($color-2, .9);
	background-repeat: no-repeat;
	background-size: 32px 64px;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-controller.svg');

	.no-touch &:hover {
		background-color: rgba($color-2, 1);
	}

	@include MQ(M) {
		margin-left: 50px;
	}
}

#cd-zoom-in {
	background-position: 50% 0;
	margin-top: 10px;
	margin-bottom: 1px;

	@include MQ(M) {
		margin-top: 50px;
	}
}

#cd-zoom-out {
	background-position: 50% -32px;
}
.bg-sec{
    
}