#nav1{
    color: red;
}
* {
    box-sizing: border-box;
}
.navbar-color{
    color: #000;
}
body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.content {
    bottom: 0;
    /*background: hsla(229,30%,20%,1);*//*117,80%,85%,0.5*/
    /*background-color:hsla(120,100%,75%,0.3);*/
    color: #f1f1f1;
    height:20%;
    width: -50%;
    padding: 20px;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}